<!DOCTYPE html>
<html lang="en">
<head>
	<title>shall I Learn</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/boxicon.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="/assets/js/sil.js" type="text/javascript"></script>
	<script src="/assets/js/utils.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<!-- Header -->
	<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
		<div class="container d-flex justify-content-between align-items-center">
			<a class="navbar-brand h1" href="index.html">
				<i class='bx bx-code-curly bx-sm text-dark'></i>
				<i class='bx bx-bar-chart-alt-2 bx-sm text-dark'></i>
				<i class='bx bxs-graduation bx-sm text-dark'></i>
				<span class="text-dark h4">shallI</span><span class="text-primary h4">Learn</span>
			</a>
			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	
	<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
		<div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
			<div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
				<h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Shall I learn this technology?</h1>
				<form class="contact-form row" id="silForm" method="post" action="#" role="form">
					<input type="text" class="form-control pl-20 form-control-lg light-500" id="silInput" name="inputname" placeholder="e.g. python, react, tensorflow" style="border-radius:25px;">
				</form>
				<p class="banner-body pb-2 light-300"></p>
				<button type="submit" id="silSubmit" class="btn rounded-pill btn-secondary text-light px-4 light-300 pt-3">
					<i class='bx bx-search bx-sm'></i>
				</button>
			</div>
		</div>
	</div>

	<section style="display: none;" id="SILBody" class="container py-5">
		<div style="display:flex; flex-direction: column;">
			<h5>Google Trends</h5>
			<div style="display:flex;justify-content: center; flex-direction: column; align-items: center;">
			<div id="chart_div" style="width: 1000px; height: 250px;">
				
			</div>
			</div>
		</div>
		<div style="margin-top: 10px; display:flex;flex-direction: row;justify-content: center;">
			<div>
				<div style="display:flex; justify-items: auto; flex-wrap: wrap;">
					<div class="silCard">
							<p class="silCardTitle px-3 pt-2 pb-2">GitHub Repositories</p>
							<div class="px-3 pb-2 h3" id="git_repos">
								
							</div>
					</div>
					<div class="silCard">
						<p class="silCardTitle px-3 pt-2 pb-2">GitHub Topics</p>
						<div class="px-3 pb-2 h3" id="git_topics">
							
						</div>
					</div>
					<div class="silCard">
						<p class="silCardTitle px-3 pt-2 pb-2">Stackoverflow Questions</p>
						<div class="px-3 pb-2 h3" id="stackoverflowQuestions_div">
							
						</div>
					</div>
					<div class="silCard">
						<p class="silCardTitle px-3 pt-2 pb-2">LinkedIn Jobs</p>
						<div class="px-3 pb-2 h3" id="linkedinjobs_div">
							
						</div>
					</div>
					<div class="silCard">
						<p class="silCardTitle px-3 pt-2 pb-2">LinkedIn New Jobs</p>
						<div class="px-3 pb-2 h3" id="linkedinnew_div">
							
						</div>
					</div>
				</div>
			
				<div class="silCard" style="float:left; width: 61%;margin-right: 15px;">
					<p class="silCardTitle px-3 pt-2 pb-2">Reddit communities&nbsp;<span style="font-size: 0.5rem;">(related)</span></p>
					<div class="px-3 pb-2" style="font-size:0.8rem;">
						<table style="width: 100%;" class="table topTable">
							<tbody>
								<tr>
									<td style="width:48%;">Community</td>
									<td>Members</td></tr>
							</tbody>
						</table>
						<div style="margin-top: -16px; height: 250px;overflow-y: auto;">
						<table id="reddit_div" style="width: 100%;" class="table innerTable"></table>
					</div>
					</div>
				</div>
			</div>

			<div class="p-1">
				<h5>Around the World</h5>
				<div id="region_chart_div" style="width: 400px; height: 300px;">
					
				</div>
			</div>
		</div>
	</section>

	<footer class="bg-secondary pt-4">
		<div class="container">
			<div class="row py-4">

				<div class="col-lg-3 col-12 align-left">
					<a class="navbar-brand" href="index.html">
						<i class='bx bx-code-curly bx-sm text-light'></i>
						<i class='bx bx-bar-chart-alt-2 bx-sm text-light'></i>
						<i class='bx bxs-graduation bx-sm text-light'></i>
						<span class="text-light h4">shallILearn</span>
					</a>
					<p class="text-light my-lg-4 my-2">
						 Made by <a href="" style="color: white;">Ajit Kumar</a>
					</p>
				</div>

				<div class="col-lg-3 col-md-4 my-sm-0 mt-4">
					<h6 class="h6 pb-lg-3 text-light light-300">Find me on</h6>
					<ul class="list-inline footer-icons light-300">
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="http://facebook.com/">
								<i class='bx bxl-facebook-square bx-md'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.linkedin.com/">
								<i class='bx bxl-linkedin-square bx-md'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.whatsapp.com/">
								<i class='bx bxl-whatsapp-square bx-md'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.flickr.com/">
								<i class='bx bxl-flickr-square bx-md'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.medium.com/">
								<i class='bx bxl-medium-square bx-md' ></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</footer>
</body>

</html>