<!DOCTYPE html>
<html lang="en">
<head>
	<title>shall I Learn</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/assets/img/sillogo.ico">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/sillogo.ico">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/boxicon.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/js/sil.js" type="text/javascript"></script>
	<script src="/assets/js/utils.js" type="text/javascript"></script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<!-- Header -->
	<nav id="main_nav" class="pb-0 navbar navbar-expand-lg navbar-light bg-white shadow">
		<div class="container d-flex justify-content-between align-items-center">
			<a class="navbar-brand h1" href="index.html">
				<img style="height: 35px;width: 35px;" src="assets/img/sillogo.png" />&nbsp;
				<span class="text-dark h4">shallI</span><span class="text-primary h4">Learn</span>
			</a>
		</div>
	</nav>
	
	<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
		<div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
			<div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
				<h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Shall I learn this technology?</h1>
				<form style="display:flex; justify-content: center;" class="contact-form row" id="silForm" method="post" action="#" role="form">
					<input type="text" class="form-control pl-20 form-control-lg light-500 w-75" id="silInput" name="inputname" placeholder="e.g. python, javascript, java, dart" style="border-radius:25px;">
				</form>
				<p class="banner-body pb-2 light-300"></p>
				<button type="submit" id="silSubmit" class="btn rounded-pill btn-secondary text-light px-4 light-300 pt-3">
					<i class='bx bx-search bx-sm'></i>
				</button>
			</div>
		</div>
	</div>

	<section style="display:none" id="SILBody" class="container-fluid py-5 px-md-5 ml-md-5"><!--   -->
		<div id="errorBox" class="flex-column flex-md-row">
			<div id="skullDiv">
				<svg id="skull" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" enable-background="new 0 0 640 640">
				  <g id="jaw" stroke="#1D1D1B" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
				    <path fill="#fff" d="M252.4 372.8s28.1 12.3 67.6 12.3 67.6-12.3 67.6-12.3v42.9s-37.8 15.5-67.6 15.5-67.6-15.5-67.6-15.5v-42.9z"/>
				    <path fill="none" d="M320 388.8V402M297.5 383.5V402M274.9 379.8V402M342.5 386.5V402M365.1 379.8V402"/>
				  </g>
				  <g id="tongue" stroke="#1D1D1B" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
				    <path fill="#BE1622" d="M283.9 275.4v72.1c0 19.9 16.1 36.1 36.1 36.1s36.1-16.1 36.1-36.1v-72.1h-72.2z"/>
				    <path fill="none" d="M320 275.4v77.8"/>
				  </g>
				  <g id="head">
				  <path fill="#fff" stroke="#1D1D1B" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M415.7 243.3c0-52.8-42.8-95.7-95.7-95.7s-95.7 42.8-95.7 95.7c0 21 6.8 40.4 18.2 56.1L231 310.9l21.3 21.3v40.5s28.1 12.3 67.6 12.3 67.6-12.3 67.6-12.3v-40.5l21.3-21.3-11.5-11.5c11.6-15.8 18.4-35.2 18.4-56.1z"/>
				  <path fill="#1D1D1B" stroke="#1D1D1B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M299.2 332.3l20.8-36 20.8 36z"/>
				  <circle fill="#1D1D1B" cx="278.4" cy="268.4" r="34.1"/>
				  <circle fill="#1D1D1B" cx="361.6" cy="268.4" r="34.1"/>
				  <path fill="none" stroke="#1D1D1B" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M320 385v-26.4M297.5 383.5v-26.4M274.9 379.7v-26.4M342.5 383.5v-26.4M365.1 379.8v-26.5"/>
				  </g>
				  <ellipse id="shadow" fill="#C6C6C6" cx="320" cy="479.4" rx="45.1" ry="13"/>
				</svg>
			</div>
			<div class="d-flex flex-column align-items-center align-items-md-start">
				<h3>It's not you, it's me!</h3>

				<p class="d-flex flex-column align-items-center align-items-md-start" style='font-size: 0.7rem;font-weight:bold;'>
					An error occured! Refresh the page and try again or recheck the search query. (That's all I can suggest.)
					<br/>
					Or, if the following thing makes sense to you, please tell me :)
				</p>
				<textarea disabled="true" id="errTxt"></textarea>
			</div>
		</div>

		<div class="px-2 px-md-3" style="display:flex; flex-direction: column;">
			<h5>Google Trends&nbsp;<span style="font-size:0.6rem;">(interest over time)</span></h5>
			<div class="mb-4 mt-4" style="display:flex;justify-content: center; flex-direction: column; align-items: center;">
				<div id="chart_div" style="width: 100%; height: 250px;"></div>
			</div>
		</div>
		<div class="row g-3">
			<div class="col-md-6 order-first order-md-last p-1 px-3 px-md-0 d-flex flex-column align-items-center mt-3">
				<div class="d-md-flex align-items-start w-100 w-md-75">
					<h5>Around the World</h5>
				</div>
					<div id="region_chart_div" style="width: 400px; height: 300px;"></div>

				<div class="d-md-flex align-items-start w-100 w-md-75 mt-5" id="mostUsedTagsDIV">
					<h5>Most used tags on Stackoverflow</h5>
				</div>
					<div class="row">
						<div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
							<div id="tags_chart_div" style="width: 250px; height: 250px;"></div>
						</div>
						<div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
							<table id="tags_legends" style="font-size:0.7rem;margin-top:10px;white-space:nowrap;"></table>
						</div>
					</div>
				<div class="d-md-flex align-items-start w-100 w-md-75 mt-5">
					<h5>Questions asked within time on Stackoverflow &nbsp;<span style="font-size: 0.5rem;">(first 3k questions)</span></h5>
				</div>
				<div class="row" style="width: 300px; height: 300px;">
					<div id="timeDistribution_div" style="width: 300px; height: 200px;"></div>
				</div>
			</div>
			<div class="col-md-6 px-md-5">
				<div style="display:flex; justify-items: auto; flex-wrap: wrap;">
					<div class="silCard mx-auto">
							<p class="silCardTitle px-3 pt-2 pb-2">GitHub Repositories</p>
							<div class="px-3 pb-2 h3" id="git_repos"></div>
					</div>
					<div class="silCard mx-auto">
						<p class="silCardTitle px-3 pt-2 pb-2">GitHub Topics</p>
						<div class="px-3 pb-2 h3" id="git_topics"></div>
					</div>
					<div class="silCard mx-auto">
						<p class="silCardTitle px-3 pt-2 pb-2">Stackoverflow Questions</p>
						<div class="px-3 pb-2 h3" id="stackoverflowQuestions_div"></div>
					</div>
					
					<div class="silCard mx-auto">
						<p class="silCardTitle px-3 pt-2 pb-2">LinkedIn New Jobs</p>
						<div class="px-3 pb-2 h3" id="linkedinnew_div"></div>
					</div>
					<div class="silCard mx-auto"  style="background-color:rgba(200,200,200,0.2);border-color:rgba(150,150,150,0.7);">
						<p class="silCardTitle px-3 pt-2 pb-2" style="background-color:rgba(180,180,180,1);">indeed Jobs&nbsp;<span style="font-size: 0.5rem;"><i class='bx bxs-flask text-light' style="font-size:0.9rem"></i></span></p>
						<div class="px-3 pb-2 h3" style="color:#777;" id="indeed_div"></div>
					</div>
					<div class="silCard mx-auto"  style="background-color:rgba(200,200,200,0.2);border-color:rgba(150,150,150,0.7);">
						<p class="silCardTitle px-3 pt-2 pb-2" style="background-color:rgba(180,180,180,1);">FlexJobs Jobs&nbsp;<span style="font-size: 0.5rem;"><i class='bx bxs-flask text-light' style="font-size:0.9rem"></i></span></p>
						<div class="px-3 pb-2 h3" style="color:#777;" id="flexjobs_div"></div>
					</div>
					<div class="silCard mx-auto">
						<p class="silCardTitle px-3 pt-2 pb-2">LinkedIn Jobs</p>
						<div class="px-3 pb-2 h3" id="linkedinjobs_div"></div>
					</div>

					<div class="silCard mx-auto" style="min-width: 15rem;">
						<p class="silCardTitle px-3 pt-2 pb-2">Reddit communities&nbsp;<span style="font-size: 0.5rem;">(related)</span></p>
						<div class="px-3 pb-2" style="font-size:0.8rem;">
							<table style="width: 100%;" class="table topTable">
								<tbody>
									<tr>
										<td style="width:48%;">Community</td>
										<td>Members</td>
									</tr>
								</tbody>
							</table>
							<div style="margin-top: -16px; height: 250px;overflow-y: auto;">
								<table id="reddit_div" style="width: 100%;box-sizing: content-box;" class="table innerTable"></table>
							</div>
						</div>
					</div>
					<div class="silCard" style="opacity: 0;"></div>
				</div>
			</div>
		</div>
	</section>

	<footer class="bg-secondary pt-2">
		<div class="container">
			<div class="row py-4">
				<div class="col-md-4 col-12 align-left">
					<a class="navbar-brand" href="index.html">
						<img style="filter: invert(1);height: 50px;width: 50px;" src="assets/img/sillogo.png" />&nbsp;
						<span class="text-light h4">shallILearn</span>
					</a>
					<p class="text-light mt-2 my-lg-4">
						 Made by <a href="" style="color: white;">Ajit Kumar</a>
					</p>
				</div>

				<div class="col-md-6 my-sm-0 mt-4 text-light small-md">
					Shall I Learn is a platform which shows the popularity, recent trends of the desired programming technology and the number of jobs in the current market from well known and renowed sources on the internet. 
				</div>
				<!-- <div class="col-lg-3 col-md-4 my-sm-0 mt-4 text-light">
					<h6 class="h6 pb-lg-3 text-light light-300">Find me on</h6>
					<ul class="list-inline footer-icons light-300">
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="http://facebook.com/">
								<i class='bx bxl-facebook-square bx-sm'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.linkedin.com/">
								<i class='bx bxl-linkedin-square bx-sm'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.whatsapp.com/">
								<i class='bx bxl-whatsapp-square bx-sm'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.flickr.com/">
								<i class='bx bxl-flickr-square bx-sm'></i>
							</a>
						</li>
						<li class="list-inline-item m-0">
							<a class="text-light" target="_blank" href="https://www.medium.com/">
								<i class='bx bxl-medium-square bx-sm'></i>
							</a>
						</li>
					</ul>
				</div> -->

			</div>
		</div>

	</footer>
</body>

</html>